<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Login</title>	
</head>
<body>

    <section>
        <div id="login">
        <h3 class="text-center text-white pt-5"></h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 220px">
                      
                      <h3 class="my-3">Enter New Password</h3>      
                            <!-- FORM -->
     						<form th:action="@{/changepassword}" method="post" >
     						 
     						 <input type="hidden" th:value="${mail}" name="mail">
     						 
     						       <div class="form-group my-4">
     						            <input required="required" class="form-control" type="password" placeholder="Enter password" name="npass">
     						       </div>     
     						       <div class="container text-center">
     						       <button type="submit" class="btn btn-success">Change</button>
     						       </div>
     						</form>               	
            
                     </div>
                </div>
            </div>
        </div>
    </div>
    </section>
	
</body>
</html>