<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Login</title>	
</head>
<body>

    <section>
        <div id="login">
        <h3 class="text-center text-white pt-5"></h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 300px">
                            <h3 class="text-center m-3">Enter Your Registered Email id</h3>
                            
                              <!-- SESSION HANDLING -->
					             <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert mt-3 " role="alert">
									 <p class="text-center" th:text="${session.message.contend}">  </p>
									</div>
									<script th:if="${session.message}">
										        window.onload = function() {
										            fetch('/clear-session-message', {
										                method: 'POST'
										            });
										        };
								    </script>
                            
                            
                            
                             <!-- FORM -->
     						<form th:action="@{/sendotp}" method="post" >
     						       <div class="form-group my-4">
     						            <input required="required" class="form-control" type="email" placeholder="Enter your email here" name="email">
     						       </div>     
     						       
     						       <div class="container text-center my-4">
               						       <button type="submit" class="btn btn-success">Send OTP</button>
     						       </div>
     						</form>               	
            
                     </div>
                </div>
            </div>
        </div>
    </div>
    </section>
	
</body>
</html>